<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<file>test-class-dr-express-authenticator.php</file>
			<file>test-class-dr-express-shopper.php</file>
			<file>test-class-dr-express-cart.php</file>			
			<file>test-class-dr-express-session.php</file>
			<file>test-class-dr-express-tables.php</file>
			<file>test-class-dr-express-activator.php</file>
			<file>test-class-dr-express-deactivator.php</file>
		</testsuite>
	</testsuites>
</phpunit>
