//

.dr-checkout {
    width: 100%;

    .d-none {
        display: none !important;
    }

    @include for-desktop-up {
        width: 50%;
    }

    &__email,
    &__shipping,
    &__billing,
    &__delivery,
    &__payment,
    &__confirmation {
        background: #ffffff;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    &__billing {
        & .billing-section {
            display: none;

            &__name {
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                text-transform: uppercase;
                color: #333;

                margin: 16px 0;
            }
        }
    }

    .small-closed-left {
        clear: both;
        width: 48%;
        float: left;
        // margin-right: 0.5rem;

    }

    .small-closed-right {
        width: 48%;
        float: right;
        // margin-left: 0.5rem;
    }



    .dr-accordion__title-long {
        display: block;
    }

    .dr-accordion__title-short {
        display: none;
    }

    .small-closed-left,
    .small-closed-right {
        .dr-accordion__title-long {
            display: none;
        }
        .dr-accordion__title-short {
            display: block;
        }
    }
}