//

.dr-checkout-wrapper {
    font-size: 16px;
   //background-color: $white-smoke;


    &__actions {
        font-size: 16px;
        .back-link {
            > a {
                font-size: 14px;
                font-weight: 300;
                text-decoration: none;
                color: $color-text-base;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;

        @include for-desktop-up {
            flex-direction: row;
        }
    }


}