.dr-order-address {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 40px 20px 40px;

    @include for-phone-landscape-down {
        width: 100%;
    }

    &__billing {
        margin-top: 2rem;
    }

    &__billing,
    &__shipping {
        width: 100%;

        .address-title {
            font-size: 18px;
            color: $color-text-base;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .address-info p {
            font-size: 18px;
            color: $gray-darkest;
            margin-bottom: 0;
        }
    }
}