.drgc-wrapper {
    button:hover {
        background: transparent;
    }

    .dr-btn {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: $blue;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        border: none;
        padding: 13px;
        text-decoration: none;

        &:hover {
            background: $blue-dark;
            text-decoration: none;
            color: white;
        }

        &:focus {
            outline: none;
        }

        &:not(.disabled) {
            &:before {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -11px;
                width: 20px;
                height: 20px;
                border: 4px solid;
                border-left-color: transparent;
                border-radius: 50%;
                opacity: 0;
                transition-duration: .5s;
                transition-property: opacity;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-name: rotate;
                animation-timing-function: linear;
            }

            &:after {
                content: '';
                display: inline-block;
                height: 100%;
                width: 0px;
                transition-delay: .5s;
                transition-duration: .75s;
                transition-property: width;
            }

            &.sending {
                pointer-events: none;
                cursor: not-allowed;

                &:before {
                    transition-delay: .5s;
                    transition-duration: 1s;
                    opacity: 1;
                }

                &:after {
                    transition-delay: 0s;
                    width: 20px;
                }
            }
        }
    }
}

// Loader
@mixin rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}
@keyframes rotate { @include rotate; }